  .card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
    margin: 15px;
    text-align: center;
    background-color: white;
    border: white 1px solid;
  }
  
  .card img {
    height: 150px;
    object-fit: cover;
  }
  
  .card-img-top {
    width: 100%; /* גודל יחסי לרוחב הכרטיסיה */
    height: auto; /* שומר על פרופורציות התמונה */
    max-height: 150px; /* מקסימום גובה של 150 פיקסלים */
    object-fit: cover; /* מתאים את התמונה לגודל בלי לעוות אותה */
  }
  
  
  .card-footer {
    background-color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
  }
  
  .card .card-title {
    font-family: 'assistant', sans-serif;
    background-color: rgba(234, 234, 234, 0.5);
    font-weight: bold;
    margin-top: 40px;
    min-height: 48px; /* גובה מינימלי שיבטיח מקום לשתי שורות */
    margin-bottom: 10px; /* ריווח מתחת לכותרת */
    justify-content: center; /* מרכז אופקית */

  }
  
  .card-text {
    font-family: 'assistant', sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    /*margin-top: auto;*/
    margin-bottom: 30px;
  }
  
  
  /* עיצוב לתיבת החיפוש */
  .search-container {
    max-width: 400px;
    margin: 0 auto;  /* ממקם את תיבת החיפוש במרכז */
    padding-top: 400px;  /* רווח מהחלק העליון של העמוד */
  }
  
  /* עיצוב עבור תיבת הטקסט */
  .search-container input {
    font-size: 14px;
  }
  
  #searchButton {
    background-color: #ffc107; /* צבע רקע לכפתור */
    color: black; /* צבע טקסט */
    border: none; /* ביטול מסגרת */
    padding: 5px 15px; /* ריווח פנימי */
    margin: 5px;
    border-radius: 5px; /* עיגול פינות */
    font-size: 16px; /* גודל גופן */
    cursor: pointer; /* סמן עכבר מתאים */
    transition: background-color 0.3s; /* אפקט מעבר חלק */
  }

  #resetButton {
    background-color: #9e9e9e; /* צבע רקע לכפתור */
    color: black; /* צבע טקסט */
    border: none; /* ביטול מסגרת */
    padding: 5px 8px; /* ריווח פנימי */
    margin: 5px;
    border-radius: 5px; /* עיגול פינות */
    font-size: 16px; /* גודל גופן */
    cursor: pointer; /* סמן עכבר מתאים */
    transition: background-color 0.3s; /* אפקט מעבר חלק */
  }
  
  /* עיצוב ל-header */
  header {
    color: #1e2125;
    display: flex;
    justify-content: center; /* ממרכז אופקית */
    align-items: center; /* ממרכז אנכית */
    margin-top: -50px;
    transition: opacity 0.3s ease;
  }

  header.hidden {
    opacity: 0;
  }
  
  #BGPic {
    background-attachment: fixed;
    background-size: cover;
    width: 100vw !important;
    height: 200px;
    margin-bottom: 20px;
    margin-left: -110px;
  }
  
  /* עיצוב לכותרות בתוך ה-header */
  header h1 {
    font-family: 'horizon', sans-serif;
    font-size: 70px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }
  
  body {
    font-family: 'assistant', sans-serif;
    background-color: aliceblue;
    background-size: cover; /* מתאים את התמונה לגודל העמוד */
    background-repeat: no-repeat; /* מונע חזרת התמונה */
    background-attachment: fixed; /* שומר את התמונה במקום בזמן גלילה */
    background-position: center; /* ממקם את התמונה במרכז */
    color: #333; /* צבע הטקסט, ניתן להתאים אם צריך */
  }
  
  
  /*עיצוב לתיאור המטלה*/
  #pinnedElement {
    position: fixed; /* שומר את האלמנט במקום קבוע */
    bottom: 30px; /* מרחק של 10 פיקסלים מהחלק העליון של המסך */
    left: -30px; /* מרחק של 10 פיקסלים מהחלק הימני של המסך */
    width: 170px;
    background-color: rgba(227, 227, 227, 0.51); /* צבע רקע */
    padding: 10px;
    border: 1px solid #ccc; /* מסגרת */
    border-color: #000000;
    border-radius: 50px;
    font-size: 10px;
    padding-left: 30px;
  }
  
  
  /*עיצובי תפריט ניווט*/
  .navbar {
    background-color: #343a40 !important; /* אפור כהה */
  }
  
  .navbar-nav {
    flex-direction: row-reverse; /* הופך את כיוון הקישורים בצד ימין */
  }
  
  .nav-logo img {
    max-height: 40px; /* גובה מקסימלי של 50 פיקסלים, ניתן להתאים לפי תפריט הניווט */
    height: auto; /* התאמת הגובה באופן יחסי */
    width: auto; /* התאמת הרוחב לפרופורציות */
    object-fit: contain; /* שמירה על הפרופורציות של התמונה */
    margin-right: 18px; /* רווח קטן בין הלוגו לשאר התפריט */
    margin-left: -20px; /* רווח קטן בין הלוגו לשאר התפריט */
  
  }
  
  .navbar .nav-link {
    color: #ffffff; /* טקסט לבן */
    font-family: 'assistant', sans-serif;
    
  }
  
  .navbar .nav-link:hover {
    color: #ffc107; /* טקסט צהוב כאשר העכבר מעל הקישור */
  }
  
  /*יישור כפתור סגירה של המודל*/
  .modal-header .btn-close {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  
  /* התאמת התוכן */
  .container {
    /*margin-top: 100px;*/
  }
  
  header h1, header h2, header p {
    text-align: center;
  }
  
  .card {
    cursor: pointer; /* משנה את הסמן לאופציה של "לחיצה" כשמרחפים מעל הכרטיס */
  }
  
  .card:hover {
    transform: scale(1.05); /* נותן אפקט של הגדלה קלה של הכרטיס */
    transition: transform 0.3s ease-in-out; /* מעביר את האנימציה בצורה חלקה */
  }
  
  .toast {
    z-index: 2000;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px !important;
    height: auto;
    padding-right: 25px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .toast-body {
    color: #fff;
  }

  .toast .btn-close {
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 10px;
  }


  /* //////////////////////////////////////////////////עיצוב מותאם למובייל///////////////////////////////////// */

  @media (max-width: 600px) {
    #itemsContainer {
      display: flex;
      flex-direction: column; /* מוודא שכרטיסיות מסודרות אחת מתחת לשנייה */
    }

    .card {
      width: 90%; /* כל כרטיס יתפוס כמעט את כל רוחב המסך */
      margin-bottom: 15px; /* ריווח בין כרטיסים */
      margin: auto;
    }

    .card img {
      height: 200px; /* התאמת גובה תמונות */
    }

    .navbar .nav-link {
      font-size: 14px; /* גודל טקסט קטן יותר */
      padding: 8px; /* ריווח מותאם */
    }
    
    .navbar-collapse {
      position: absolute; /* עוזר לפתוח את התפריט בצד */
      top: 0;
      left: 0;
      width: 250px; /* רוחב התפריט */
      height: 100vh; /* גובה מלא של המסך */
      background-color: #343a40; /* צבע רקע של התפריט */
      box-shadow: 4px 0 6px rgba(0, 0, 0, 0.3); /* צללה */
      /*transform: translateX(-100%); !* התפריט לא ייראה בהתחלה *!*/
      /*transition: transform 0.3s ease-in-out;*/
    }

    /* כפתור ההמבורגר */
    .navbar-toggler {
      position: relative; /* מיקום יחסי */
      z-index: 1050; /* מבטיח שהכפתור יהיה מעל התפריט */
    }
    
    .navbar-toggler.collapsed + .navbar-collapse {
      transform: translateX(0); /* פותח את התפריט */
    }

    .navbar-nav {
      display: flex;
      flex-direction: column; /* תצוגה במאונך */
      padding-top: 20px;
    }

    .navbar-nav .nav-item {
      text-align: center;
      padding: 10px 0;
    }

    .navbar-nav .nav-link {
      color: #fff;
      padding: 10px;
      font-size: 18px;
    }

    /* עיצוב ל-header */
    header {
      color: #1e2125;
      display: flex;
      justify-content: center; /* ממרכז אופקית */
      align-items: center; /* ממרכז אנכית */
      margin-top: -50px;
    }

    #BGPic {
      background-attachment: fixed;
      background-size: cover;
      width: 100vw !important;
      height: 100px;
      margin-bottom: 20px;
      margin-left: -15px;
    }

    /* עיצוב לכותרות בתוך ה-header */
    header h1 {
      font-family: 'horizon', sans-serif;
      font-size: 30px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }

    /*התאמת פרטי המטלה למובייל בתור פוטר*/
    #pinnedElement {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      padding: 3px 20px;
      text-align: center;
      border-radius: 0;
      border: 0;
      background-color: rgba(161, 161, 161, 0.86);
      color: #393939;
    }
    
    /*התאמת פופאפ למובייל*/
      .modal-dialog {
        max-width: 85%; /* המודאל תופס 90% מרוחב המסך */
        margin: 30% auto; /* יישור אופקי ואנכי */
      }

      .modal-content {
        padding: 10px; /* ריווח קטן יותר במובייל */
      }

      .modal-header .modal-title {
        font-size: 18px; /* גודל כותרת קטן יותר */
        text-align: center; /* יישור מרכזי של הכותרת */
      }
    }
    
    /*הודעה על כניסה לעגלה*/
    .toast {
      z-index: 1050;
      border-radius: 10px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      right: auto;  /* מבטל את right מהדסקטופ */
      /*width: 90%;*/
    }

    .toast-body {
      color: #fff;
      text-align: center;
    }

    .toast-close-button {
      color: #fff;
      padding-right: 5px;
    }